<html>
    <head><title>New user list</title>
        <script src="/unify_assets/vendor/jquery/jquery.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/admin/js/admin_common.js"></script>
        <script src="/admin/js/admin_constant.js"></script>
        <script src="/admin/js/admin_uri.js"></script>
        <script src="/admin/js/user.js"></script>
    </head>
    <body>
        <table id="tbl_data" border="1">
            <thead>
                <td></td>
                <td>Name</td>
                <td>Expire time</td>
                <td>Register time</td>
            </thead>
        </table>
        <strong id="total"></strong>
    </body>
</html>
