<footer class="g-bg-secondary">
    <div class="container">
        <!-- Footer - Bottom Section -->
        <div class="row align-items-center">
            <div class="col-md-4 g-brd-right--md g-brd-secondary-light-v2">
                <!-- Copyright -->
                <p class="g-color-secondary-light-v1 g-font-size-12 mb-0">&copy; 2021 Kết bạn bốn phương Việt nam</p>
                <!-- End Copyright -->
            </div>
        </div>
        <!-- End Footer - Bottom Section -->
    </div>
</footer>
