<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title -->
	<title>Swipe X</title>

	<!-- Required Meta Tags Always Come First -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="x-ua-compatible" content="IE=edge"/>

	<!-- Google Fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"/>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="/unify_assets/vendor/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/hs-admin-icons/hs-admin-icons.css"/>
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="/unify_assets/vendor/icon-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/icon-line/css/simple-line-icons.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/icon-hs/style.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/hamburgers/hamburgers.min.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/animate.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/dzsparallaxer/dzsparallaxer.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/dzsparallaxer/dzsscroller/scroller.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/dzsparallaxer/advancedscroller/plugin.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/fancybox/jquery.fancybox.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css"/>
	<link rel="stylesheet" href="/unify_assets/vendor/slick-carousel/slick/slick.css"/>

	<!-- CSS Template -->
	<link rel="stylesheet" href="/unify_assets/css/styles.op-app.css"/>

	<!-- CSS Customization -->
	<link rel="stylesheet" href="/unify_assets/css/custom.css"/>
</head>

<body>
<main>
	<!-- Header v1 -->
	<header id="js-header" class="u-header u-header--sticky-top u-header--show-hide u-header--toggle-section"
			data-header-fix-moment="100"
			data-header-fix-effect="slide">
		<div class="u-header__section u-shadow-v27 g-bg-white g-transition-0_3 g-py-12 g-py-20--md">
			<nav class="navbar navbar-expand-lg py-0 g-px-15">
				<div class="container g-pos-rel">

					<div id="navBar" class="collapse navbar-collapse" data-mobile-scroll-hide="true">
						<!-- Navigation -->
						<div class="navbar-collapse align-items-center flex-sm-row">
							<ul id="js-scroll-nav" class="navbar-nav g-flex-right--xs text-uppercase w-100 g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
								<li class="nav-item g-mx-15--lg g-mb-12 g-mb-0--lg">
									<a><img src="/unify_assets/img/flag_kr.png"/></a>
								</li>
								<li class="nav-item g-mx-15--lg g-mb-12 g-mb-0--lg">
									<a><img src="/unify_assets/img/flag_us.png"/></a>
								</li>
							</ul>
						</div>
						<!-- End Navigation -->
					</div>

				</div>
			</nav>
		</div>
	</header>
	<!-- End Header v1 -->

	<!-- Promo Block -->
	<section class="g-flex-centered g-bg-pos-center g-bg-img-hero g-py-150" style="background-image: url(/unify_assets/img/homepage_bg_1.jpg);" data-calc-target="#js-header">
		<div class="container text-center g-z-index-1">
			<div class="g-mb-25" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500">
				<h2 class="g-font-weight-700 g-font-size-40 g-font-size-55--md d-inline-block g-brd-2 g-brd-black g-color-white g-font-weight-600 text-uppercase g-pb-5">Swipe-X</h2>
			</div>
			<h3 class="g-color-black text-uppercase g-mb-40 g-color-white" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500">
				Watch & download 3,500 Blu-ray grade full length movies with subtitles only at $12 for 1 year
			</h3>
			<div data-animation="fadeInUp" data-animation-delay="1100" data-animation-duration="1500">
				<a class="btn btn-secondary g-font-weight-600 g-font-size-13 text-uppercase g-rounded-10 mx-2 g-px-25 g-py-15 g-mb-20" href="javascript:void(0);"><i class="hs-admin-download"></i> Download<br/>Windows & Mac app</a>
				<a class="btn btn-dark g-font-weight-600 g-font-size-13 text-uppercase g-rounded-10 mx-2 g-px-25 g-py-15 g-mb-20" href="javascript:void(0);"><i class="hs-admin-control-play"></i> Watch tutorial</a>
			</div>
		</div>
	</section>
	<!-- End Promo Block -->

	<!-- Section Content -->
	<section id="appScreens" class="g-py-90">
		<div class="container text-center g-max-width-750 g-mb-65">
			<div class="text-uppercase g-line-height-1_3 g-mb-20">
				<h2 class="g-font-size-36 mb-0">Look <strong>how it works</strong></h2>
			</div>
		</div>

		<div class="container">
			<!-- Filter -->
			<div id="appScreensCubePortfolio" class="cbp"
				 data-controls="#appScreensCubePortfolioFilter"
				 data-layout="grid"
				 data-animation="slideLeft"
				 data-caption-animation="fadeIn"
				 data-x-gap="30"
				 data-y-gap="30"
				 data-media-queries='[
                 {"width": 800, "cols": 2},
                 {"width": 500, "cols": 2},
                 {"width": 320, "cols": 1}
               ]'>
				<div class="cbp-item home">
					<a class="cbp-caption cbp-lightbox d-block" href="/unify_assets/img-temp/270x481/img1.jpg"
					   data-title="Custom Title 1">
						<div class="cbp-caption-defaultWrap">
							<img src="/unify_assets/img-temp/270x481/img1.jpg" alt="Image description">
						</div>

						<div class="cbp-caption-activeWrap g-bg-primary-opacity-0_6">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title g-font-size-50">+</div>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="cbp-item home">
					<a class="cbp-caption cbp-lightbox d-block" href="/unify_assets/img-temp/270x481/img2.jpg"
					   data-title="Custom Title 2">
						<div class="cbp-caption-defaultWrap">
							<img src="/unify_assets/img-temp/270x481/img2.jpg" alt="Image description">
						</div>

						<div class="cbp-caption-activeWrap g-bg-primary-opacity-0_6">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title g-font-size-50">+</div>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="cbp-item login">
					<a class="cbp-caption cbp-lightbox d-block" href="/unify_assets/img-temp/270x481/img3.jpg"
					   data-title="Custom Title 3">
						<div class="cbp-caption-defaultWrap">
							<img src="/unify_assets/img-temp/270x481/img3.jpg" alt="Image description">
						</div>

						<div class="cbp-caption-activeWrap g-bg-primary-opacity-0_6">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title g-font-size-50">+</div>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="cbp-item login">
					<a class="cbp-caption cbp-lightbox d-block" href="/unify_assets/img-temp/270x481/img4.jpg"
					   data-title="Custom Title 4">
						<div class="cbp-caption-defaultWrap">
							<img src="/unify_assets/img-temp/270x481/img4.jpg" alt="Image description">
						</div>

						<div class="cbp-caption-activeWrap g-bg-primary-opacity-0_6">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title g-font-size-50">+</div>
								</div>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>
	<!-- End Section Content -->



	<a class="js-go-to u-go-to-v1" href="#!"
	   data-type="fixed"
	   data-position='{
           "bottom": 15,
           "right": 15
         }'
	   data-offset-top="400"
	   data-compensation="#js-header"
	   data-show-effect="zoomIn">
		<i class="hs-icon hs-icon-arrow-top"></i>
	</a>

	<div class="text-center g-ma-20">
		<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;
		<a href="#">Privacy policy</a>
	</div>
</main>

<!-- JS Global Compulsory -->
<script src="/unify_assets/vendor/jquery/jquery.min.js"></script>
<script src="/unify_assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/unify_assets/vendor/popper.min.js"></script>
<script src="/unify_assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="/unify_assets/vendor/appear.js"></script>
<script src="/unify_assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
<script src="/unify_assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
<script src="/unify_assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
<script src="/unify_assets/vendor/fancybox/jquery.fancybox.js"></script>
<script src="/unify_assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- JS Unify -->
<script src="/unify_assets/js/hs.core.js"></script>
<script src="/unify_assets/js/components/hs.header.js"></script>
<script src="/unify_assets/js/helpers/hs.hamburgers.js"></script>
<script src="/unify_assets/js/components/hs.scroll-nav.js"></script>
<script src="/unify_assets/js/components/hs.onscroll-animation.js"></script>
<script src="/unify_assets/js/components/hs.tabs.js"></script>
<script src="/unify_assets/js/components/hs.cubeportfolio.js"></script>

<!-- JS Customization -->
<script src="/unify_assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox-media', {
            helpers: {
                media: {},
                overlay: {
                    css: {
                        'background': 'rgba(255, 255, 255, .8)'
                    }
                }
            }
        });
    });

    $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            duration: 700
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>
</body>
</html>
