<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title -->
	<title>Tìm bạn hẹn hò </title>
	<%- include common_header.ejs %>
	<script src="/js/home.js"></script>
	<script>
        $(window).on('load', function () {
            homeClass.get_homepage_list();
            homeClass.random_user_by_gender(1);
            homeClass.random_user_by_gender(2);
            homeClass.random_user_by_gender(3);
            homeClass.random_user_by_gender(0);
        });
	</script>
</head>

<body>
<main>
	<!-- Header -->
	<%- include common_menu.ejs %>
	<!-- End Header -->

	<!-- News Content -->
	<section class="g-pb-50 g-pt-50">
		<div class="container">
			<!-- News Section 1 -->
			<div class="row g-mb-60">
				<!-- Articles Content -->
				<div class="col-lg-9 g-mb-50 g-mb-0--lg">
					<!-- Home list -->
					<div class="g-mb-60" id="home_list">
						<!-- data fetched here -->
					</div>
					<!-- 1 person template -->
					<div class="row g-mb-30 hidden" id="person_tmpl">
						<div class="col-md-3">
							<figure class="u-shadow-v25 g-pos-rel g-mb-20 g-mb-0--lg text-center">
								<img class="img-fluid home_img_thumb"/>
								<figcaption class="g-pos-abs g-top-20 g-left-20">
									<a class="btn btn-xs text-uppercase rounded-0 data-gender" href="#!"></a>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-9 align-self-center">
							<h3 class="h4 g-mb-15">
								<a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover data-name" href="#!"></a>
							</h3>

							<ul class="list-inline g-color-gray-dark-v4 g-font-size-12">
								<li class="list-inline-item"><i class="fa fa-calendar"></i></li>
								<li class="list-inline-item data-date"></li>
								<li class="list-inline-item">
									<a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover data-married-status" href="#!"></a>
								</li>
								<li class="list-inline-item">/</li>
								<li class="list-inline-item"><a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover data-objective" href="#!"></a></li>
								<li class="list-inline-item">/</li>
								<li class="list-inline-item"><a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover data-province" href="#!"></a></li>
								<li class="list-inline-item">/</li>
								<li class="list-inline-item data-age"></li>
							</ul>

							<p class="g-color-gray-dark-v2 cut_line_limit four_lines data-looking-for"></p>
						</div>
					</div>
					<!-- END 1 person template -->
					<!-- End Home list -->

					<div id="stickyblock-end"></div>
				</div>
				<!-- End Articles Content -->

				<!-- Sidebar -->
				<div class="col-lg-3" id="sidebar_container">
					<!-- data fetched here -->
				</div>
				<!-- Recent Posts -->
				<div class="g-mb-30 hidden" id="sitebar_items_tmpl">
					<div class="u-heading-v3-1 g-mb-30">
						<h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Bạn <span class="gender"></span> nổi bật</h2>
					</div>
					<!-- Article -->
					<article class="media g-mb-30 hidden" id="item_user_tmpl">
						<a class="d-flex u-shadow-v25 mr-3" href="#!">
							<img class="g-width-60 g-height-60 avatar"/>
						</a>
						<div class="media-body">
							<h3 class="h6">
								<a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover cut_line_limit two_lines description" href="#!"></a>
							</h3>

							<ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
								<li class="list-inline-item"><a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover status" href="#!"></a></li>
								<li class="list-inline-item">/</li>
								<li class="list-inline-item"><a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover objective" href="#!"></a></li>
							</ul>
						</div>
					</article>
					<!-- End Article -->
				</div>
				<!-- End Recent Posts -->
				<!-- End Sidebar -->
			</div>
			<!-- News Section 1 -->

			<!-- News Section 3 -->
			<div class="row" id="dynamic_pagination">
				<!-- Articles Content -->
				<div class="col-lg-9 g-mb-50 g-mb-0--lg">
					<!-- Pagination -->
					<nav id="stickyblock-end-1" aria-label="Page Navigation">
						<ul class="list-inline text-center mb-0 hidden" id="paging_list">
							<!-- data fetched here -->
						</ul>
						<ul class="hidden" id="paging_tmpl">
							<li class="list-inline-item li_active">
								<a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-secondary-light-v2 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#!"></a>
							</li>
							<li class="list-inline-item li_normal">
								<a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-secondary-dark-v1 g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#!"></a>
							</li>
						</ul>
					</nav>
					<!-- End Pagination -->
				</div>
				<!-- End Articles -->

			</div>
			<!-- News Section 3 -->
		</div>
	</section>
	<!-- End News Content -->

	<!-- Footer -->
	<%- include common_footer.ejs %>
	<!-- End Footer -->

	<!-- Go To -->
	<a class="js-go-to u-go-to-v2" href="#!"
	   data-type="fixed"
	   data-position='{
           "bottom": 15,
           "right": 15
         }'
	   data-offset-top="400"
	   data-compensation="#js-header"
	   data-show-effect="zoomIn">
		<i class="hs-icon hs-icon-arrow-top"></i>
	</a>
	<!-- End Go To -->
</main>

<div class="u-outer-spaces-helper"></div>

</body>
</html>
