
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title><%= title%></title>
    <%- include common_header.ejs %>
</head>

<body>
<main>
    <!-- Header -->
    <%- include common_menu.ejs %>
    <!-- End Header -->

    <section class="g-mb-100 g-mt-50">
        <div class="container">
            <div class="row">
                <!-- Profile Sidebar -->
                <div class="col-lg-3 g-mb-50 g-mb-0--lg">
                    <!-- User Image -->
                    <div class="u-block-hover g-pos-rel">
                        <figure>
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x450/img5.jpg" alt="Image Description">
                        </figure>
                    </div>
                    <!-- User Image -->
                </div>
                <!-- End Profile Sidebar -->

                <!-- Profle Content -->
                <div class="col-lg-9">
                    <!-- Tab panes -->
                    <div id="nav-1-1-default-hor-left-underline" class="tab-content">
                        <!-- Edit Profile -->
                        <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel" data-parent="#nav-1-1-default-hor-left-underline">
                            <ul class="list-unstyled g-mb-30">
                                <!-- Name -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Name</strong>
                                        <span class="align-top">John Doe</span>
                                    </div>
                                </li>
                                <!-- End Name -->

                                <!-- Your ID -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Your ID</strong>
                                        <span class="align-top">FKJ-032440</span>
                                    </div>
                                </li>
                                <!-- End Your ID -->

                                <!-- Company Name -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Company name</strong>
                                        <span class="align-top">Htmlstream</span>
                                    </div>
                                </li>
                                <!-- End Company Name -->

                                <!-- Position -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Position</strong>
                                        <span class="align-top">Project Manager</span>
                                    </div>
                                </li>
                                <!-- End Position -->

                                <!-- Primary Email Address -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Primary email address</strong>
                                        <span class="align-top">john.doe@htmlstream.com</span>
                                    </div>
                                </li>
                                <!-- End Primary Email Address -->

                                <!-- Linked Account -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Linked account</strong>
                                        <span class="align-top">Facebook</span>
                                    </div>
                                </li>
                                <!-- End Linked Account -->

                                <!-- Website -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Website</strong>
                                        <span class="align-top">https://htmlstream.com</span>
                                    </div>
                                </li>
                                <!-- End Website -->

                                <!-- Phone Number -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Phone number</strong>
                                        <span class="align-top">(+123) 456 7890</span>
                                    </div>
                                </li>
                                <!-- End Phone Number -->

                                <!-- Office Number -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Office number</strong>
                                        <span class="align-top">(+123) 456 7891</span>
                                    </div>
                                </li>
                                <!-- End Office Number -->

                                <!-- Address -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Address</strong>
                                        <span class="align-top">795 Folsom Ave, Suite 600, San Francisco CA, US </span>
                                    </div>
                                </li>
                                <!-- End Address -->
                            </ul>

                            <div class="text-sm-right">
                                <a class="btn u-btn-primary rounded-0 g-py-12 g-px-25" href="#!">Liên lạc</a>
                            </div>
                        </div>
                        <!-- End Edit Profile -->

                    </div>
                    <!-- End Tab panes -->
                </div>
                <!-- End Profle Content -->
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%- include common_footer.ejs %>
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

</body>

</html>
