<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Đăng ký tài khoản</title>
    <%- include common_header.ejs %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/js/jquery.sha256.min.js"></script>
    <script src="/js/signup.js"></script>
    <script>
      $(window).on("load", function () {
        var onloadCallback = function () {
          alert("grecaptcha is ready!");
        };
      });
    </script>
  </head>

  <body>
    <main>
      <!-- Header -->
      <%- include common_menu.ejs %>
      <!-- End Header -->

      <!-- Login -->
      <section class="container g-py-100">
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-9 col-lg-6">
            <div
              class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30"
            >
              <header class="text-center mb-4">
                <h2 class="h2 g-color-black g-font-weight-600">Đăng ký</h2>
              </header>

              <!-- Form -->
              <form id="form-signup" class="g-py-15">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 mb-4">
                    <label
                      class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"
                      >Họ *</label
                    >
                    <input
                      class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                      name="LastName"
                      type="text"
                      placeholder=""
                    />
                  </div>

                  <div class="col-xs-12 col-sm-6 mb-4">
                    <label
                      class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"
                      >Tên *</label
                    >
                    <input
                      class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                      name="FirstName"
                      type="text"
                      placeholder=""
                    />
                  </div>
                </div>

                <div class="mb-4">
                  <label
                    class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"
                    >Email *</label
                  >
                  <input
                    class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                    name="Email"
                    type="email"
                    placeholder=""
                  />
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 mb-4">
                    <label
                      class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"
                      >Mật khẩu * (ít nhất 8 ký tự)</label
                    >
                    <input
                      class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                      name="Password"
                      type="password"
                      placeholder="********"
                    />
                  </div>

                  <div class="col-xs-12 col-sm-6 mb-4">
                    <label
                      class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"
                      >Mật khẩu xác nhận *</label
                    >
                    <input
                      class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                      name="RePassword"
                      type="password"
                      placeholder="********"
                    />
                  </div>
                </div>

                <div class="row justify-content-between mb-5">
                  <div class="col-12 align-self-center text-center">
                    <div class="g-recaptcha" data-sitekey="6LcSla4aAAAAADoCeoiF5PETdKT0pCtnSlZfp8Vm"></div>
                    <br />
                    <button
                      onclick="signup.doSignup()"
                      class="btn btn-md u-btn-primary rounded g-py-13 g-px-25"
                      type="button"
                    >
                      Đăng ký
                    </button>
                  </div>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Login -->

      <!-- Copyright Footer -->
      <%- include common_footer.ejs %>
    </main>
  </body>
</html>
