<!DOCTYPE html>
<html>
  <head>
    <title>Vocabulary learning</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table width="100%" border="1">
        <tr>
            <td>VI</td>
            <td>EN</td>
        </tr>
        <tr>
            <td><div id="vi"></div></td>
            <td><div id="en"></div></td>
        </tr>
        <tr>
            <td><input type="button" value="Reveal" onclick="reveal_en();"/></td>
            <td><input type="button" value="Next" onclick="load_next();"/></td>
        </tr>
    </table>
  </body>
</html>
