body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hide {display:none;}
.align_right {text-align: right;width:50%;}
.home_img_thumb {max-height:200px;}
.cut_line_limit {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
.two_lines {
  -webkit-line-clamp: 2;
}
.four_lines {
    -webkit-line-clamp: 4;
}
.six_lines {
  -webkit-line-clamp: 6;
}
.hidden {display:none !important;}
